<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

    body {
        font-family: poppins;
    }

</style>

<section id="gallery" class="gallery">
    <div class="container">
        <div class="gallery-details">
            <div class="gallary-header text-center">
                <h2>
                    Top destinations
                </h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, cupiditate amet. Non, nemo.
                </p>
            </div>
            <!--/.gallery-header-->
            <div class="gallery-box">
                <div class="gallery-content">
                    <div class="filtr-container">
                        <div class="row">
                            <% for(let data of place_data) { %>
                            <div class="col-md-6">
                                <div class="filtr-item">
                                    <img src="/<%- data.Cover %>" alt="#">
                                    <div class="item-title">
                                        <a href="/category/<%-data.place_id %>">
                                            <%-data.place %>
                                        </a>
                                        </a>
                                        D<p><span>20 tours</span><span>15 places</span></p>
                                    </div>
                                </div>
                            </div>
                            <% } %>

                            <!-- <div class="col-md-6">
                                <div class="filtr-item">
                                    <img src="g2.jpg" alt="portfolio image" />
                                    <div class="item-title">
                                        <a href="#">
                                            South Korea
                                        </a>
                                        <p><span>12 tours</span><span>9 places</span></p>
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div class="col-md-4">
                                <div class="filtr-item">
                                    <img src="g3.jpg" alt="portfolio image" />
                                    <div class="item-title">
                                        <a href="#">
                                            brazil
                                        </a>
                                        <p><span>25 tours</span><span>10 places</span></p>
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div class="col-md-4">
                                <div class="filtr-item">
                                    <img src="g4.jpg" alt="portfolio image" />
                                    <div class="item-title">
                                        <a href="#">
                                            australia
                                        </a>
                                        <p><span>18 tours</span><span>9 places</span></p>
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div class="col-md-4">
                                <div class="filtr-item">
                                    <img src="g5.jpg" alt="portfolio image" />
                                    <div class="item-title">
                                        <a href="#">
                                            Japan
                                        </a>
                                        <p><span>14 tours</span><span>12 places</span></p>
                                    </div>
                                </div>
                            </div> -->
                            <!-- 
                            <div class="col-md-12">
                                <div class="filtr-item">
                                    <img src="g6.jpg" alt="portfolio image" />
                                    <div class="item-title">
                                        <a href="#">
                                            England
                                        </a>
                                        <p><span>14 tours</span><span>6 places</span></p>
                                    </div>
                                </div>
                            </div> -->

                        </div><!-- /.row -->

                    </div><!-- /.filtr-container-->
                </div><!-- /.gallery-content -->
            </div>
            <!--/.galley-box-->
        </div>
        <!--/.gallery-details-->
    </div>
    <!--/.container-->

</section>
<!--/.gallery-->
<!--gallery end-->

<!-- <section id="gallery" class="gallery">
    <div class="container">
        <div class="gallery-details">
            <div class="gallary-header text-center">
                <h2>
                    top destination - Domestic
                </h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, cupiditate amet. Non, nemo.
                </p>
            </div>

            <div class="gallery-box">
                <div class="gallery-content">
                    <div class="filtr-container">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="filtr-item">
                                    <img src="g11.jpg" alt="portfolio image" />
                                    <div class="item-title">
                                        <a href="#">
                                            Kashmir
                                        </a>
                                        <p><span>20 tours</span><span>15 places</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="filtr-item">
                                    <img src="g22.jpg" alt="portfolio image" />
                                    <div class="item-title">
                                        <a href="#">
                                            Manipur
                                        </a>
                                        <p><span>12 tours</span><span>9 places</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="filtr-item">
                                    <img src="g33.jpg" alt="portfolio image" />
                                    <div class="item-title">
                                        <a href="#">
                                            Sikkim
                                        </a>
                                        <p><span>25 tours</span><span>10 places</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="filtr-item">
                                    <img src="g44.jpg" alt="portfolio image" />
                                    <div class="item-title">
                                        <a href="#">
                                            Manali
                                        </a>
                                        <p><span>18 tours</span><span>9 places</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="filtr-item">
                                    <img src="g55.jpg" alt="portfolio image" />
                                    <div class="item-title">
                                        <a href="#">
                                            Kullu
                                        </a>
                                        <p><span>14 tours</span><span>12 places</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="filtr-item">
                                    <img src="g66.jpg" alt="portfolio image" />
                                    <div class="item-title">
                                        <a href="#">
                                            Ladak
                                        </a>
                                        <p><span>14 tours</span><span>6 places</span></p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>


</section> -->
