<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Us

        </title>
    </head>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            height: 100vh;
            display: grid;
            align-items: center;
            font-family: 'Poppins', sans-serif;
        }

        .contact-wrap {
            width: 80%;
            height: auto;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .contact-in {
            padding: 40px 30px;

        }

        .contact-in:nth-child(1) {
            flex: 30%;
            background: url(contact.jpeg);
            color: #fff;

        }

        .contact-in:nth-child(2) {
            flex: 45%;
            background: #c31432;

        }

        .contact-in:nth-child(3) {
            flex: 25%;
            padding: 0;

        }

        .contact-in h1 {
            font-size: 24px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 20px;
        }

        .contact-in h2 {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 15px;
        }

        .contact-in h2 i {
            font-size: 16px;
            width: 40px;
            height: 40px;
            background: #f5f5f5;
            color: #000;
            margin-right: 10px;
            border-radius: 50px;
            line-height: 40px;
            text-align: center;
        }

        .contact-in p {
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 20px;
        }

        .contact-in ul {
            padding: 0;
            margin: 0;
        }

        .contact-in ul li {
            list-style: none;
            display: inline-block;
            margin-right: 5px;
            margin-top: 5px;
        }

        .contact-in ul li a {
            display: block;
            width: 30px;
            height: 30px;
            text-align: center;
            background: #fff;
            border-radius: 50px;
        }

        .contact-in ul li a i {
            font-size: 14px;
            line-height: 30px;
            color: #000;
        }

        .contact-in form {
            width: 100%;
            height: auto;
        }

        .contact-in-input {
            width: 100%;
            height: 40px;
            margin-bottom: 20px;
            border: 1px solid #fff;
            outline: none;
            padding-left: 5px;
            background: transparent;
            color: #fff;
            font-size: 12px;
            font-weight: 300;
            font-family: 'Poppins', sans-serif;
        }

        .contact-in-input::placeholder {
            color: #fff;
        }

        .contact-in-textarea {
            width: 100%;
            height: 140px;
            margin-bottom: 20px;
            border: 1px solid #fff;
            outline: none;
            padding-top: 5px;
            padding-left: 5px;
            background: transparent;
            color: #fff;
            font-size: 12px;
            font-weight: 300;
            font-family: 'Poppins', sans-serif;
        }

        .contact-in-textarea::placeholder {
            color: #fff;
        }

        .contact-in-btn {
            width: 100%;
            height: 40px;
            border: 1px solid #fff;
            outline: none;
            cursor: pointer;
            background: transparent;
            color: #fff;
            font-size: 12px;
            font-weight: 300;
            font-family: 'Poppins', sans-serif;
        }

        .contact-in iframe {
            width: 100%;
            height: 100%;
        }

        @media only screen and (max-width:480px) {
            .contact-in:nth-child(1) {
                flex: 50%;
            }

            .contact-in:nth-child(2) {
                flex: 50%;
            }

            .contact-in:nth-child(3) {
                flex: 100%;
            }
        }

        @media only screen and (max-width:360px) {
            .contact-in:nth-child(1) {
                flex: 50%;
            }

            .contact-in:nth-child(2) {
                flex: 50%;
            }

            .contact-in:nth-child(3) {
                flex: 100%;
            }
        }

    </style>

    <%- include('./includes/header.ejs'); %>


    <body>


        <div class="contact-wrap">
            <div class="contact-in">
                <h1>Contact Info</h1>

                <h2><i class="fa fa-phone" aria-hidden="true"></i>Phone</h2>
                <p>123-456-789</p>
                <h2><i class="fa fa-envelope" aria-hidden="true"></i>Email</h2>
                <p>info@trekortrip.com</p>
                <h2><i class="fa fa-map-marker" aria-hidden="true"></i>Address</h2>
                <p>Howrah, West Bengal, India</p>
                <ul>
                    <li><a href="https://www.facebook.com/subham.mukherjee.7543/"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <div class="contact-in">
                <h1>Send a Message</h1>
                <form method="post" action="/contact" id="contact">
                    <input type="text" placeholder="Full Name" class="contact-in-input" name="name">
                    <input type="text" placeholder="Email" class="contact-in-input" name="email">
                    <input type="text" placeholder="Subject" class="contact-in-input" name="subject">
                    <textarea placeholder="Message" class="contact-in-textarea" name="message"></textarea>
                    <input type="submit" value="SUBMIT" class="contact-in-btn">
                </form>
            </div>
            <div class="contact-in">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14734.559081653484!2d88.29087487432966!3d22.592572523872075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02786e450cead3%3A0x4d589fab7158cd1a!2sRamrajatala%2C%20Howrah%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1642019753292!5m2!1sen!2sin"
                    width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </body>
    <%- include('./includes/footer.ejs'); %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $("#contact").submit(function (event) {
            alert("Your Message has been recorded successfully, we will reach back to you shortly");
        })

    </script>

</html>
