<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <!-- main-menu start -->
        <header class="top-area">
            <div class="header-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="logo">
                                <a href="/">
                                    Trek or<span> Trip</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="main-menu">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target=".navbar-collapse">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="smooth-menu"><a href="#home">home</a></li>
                                        <li class="smooth-menu"><a href="#gallery">Destination</a></li>
                                        <li class="smooth-menu"><a href="#pack">Packages </a></li>
                                        <li class="smooth-menu"><a href="#subs">subscription</a></li>
                                        <li>
                                            <button class="book-btn"> <a href="/">Logout</a>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="home-border"></div>
                </div>
            </div>
        </header>

        <section id="home" class="about-us">
            <div class="container">
                <div class="about-us-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="single-about-us">
                                <div class="about-us-txt">

                                    <h2>
                                        Explore <span>the Beauty</span> of the <span>Beautiful</span> World <span>with
                                            Us</span>
                                    </h2>
                                    <div class="about-btn"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-0">
                            <div class="single-about-us"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="travel-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-travel-boxes">
                            <div id="desc-tabs" class="desc tabs">
                                <div class="tab-content">
                                    <div class="tab-pane active fade in" id="tours" role="tabpanel">
                                        <div class="tab-para">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="single-tab-select-box">
                                                        <h2>Search Your Destination</h2>

                                                        <div class="search">
                                                            <form action="/place_search" class="search-form">
                                                                <input type="text"
                                                                    placeholder="Search your favourite destination"
                                                                    name="search_text" required>
                                                                <div class="about-btn travel-mrt-0 pull-right">
                                                                    <button class="about-view travel-btn" type="submit"
                                                                        value="submit">
                                                                        Search
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>

                                                        <div class="about-btn travel-mrt-0 pull-right">
                                                            <button onclick="location.href = '/browse';"
                                                                class="about-view travel-btn"
                                                                style="margin-left: 50px;">
                                                                Browse all
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="service" class="service">
            <div class="container">
                <div class="service-counter text-center">
                    <div class="col-md-4 col-sm-4">
                        <div class="single-service-box">
                            <div class="service-img">
                                <img src="s1.png" alt="#">
                            </div>
                            <div class="service-content">
                                <h2>
                                    <a href="#"></a>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>

</html>
