<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="registration.css">
    </head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

        body {
            font-family: poppins;
        }

    </style>

    <body>
        <div class="registration">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    <h1>Register Yourself</h1>
                </div>
                <h5 class="text-danger" style="font-style: italic; font-size: small">

                    <% if(typeof errors !=='undefined' ) { %>
                    <ul style="margin-left: 25px;">
                        <% errors.forEach(error => { %>
                        <li class="text-danger">
                            <%= error.message %>
                            <% }) %>
                        </li>
                    </ul>
                    <% } %>

                </h5>

                <div class="panel-body">
                    <form action="/registration" id="register" method="POST">
                        <div class="form-group">
                            <label for="FirstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="fname" required />

                        </div>
                        <div class="form-group">
                            <label for="LastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lname" />

                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email" required />

                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="pass" required />

                        </div>
                        <div class="form-group">
                            <label for="password2">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPass" name="pass2" required />

                        </div>

                        <button type="Submit" class="btn btn-primary" id="register" value="Register"> Submit </button>
                    </form>

                </div>
                <div class="panel-footer-back">
                    <small>ALready a member? <span class="sn"><a href="/sign-in">Sign in here</a></span></small>
                </div>
                <div class="panel-footer text-right">

                    <small> &copy; Trek or trip</small>


                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            $("#register").submit(function (event) {
                alert("You have been Registered successfully");
            })

        </script>
    </body>

</html>
